<!DOCTYPE html>
<html lang="en">
<head>
    <%include ./partials/head %>
</head>

<body>
    <header role="banner">
        <%include ./partials/header %>
    </header>

    <main class="row display-window" role ="main">
        <section class="col-6" role="content">
            <h2 id="hello">Hey <%=  username %>,</h2>
            <% if ( hasChallenge) { %>
                <p>Remember to break down your goals</p>
                <p>You have a total of <%= data.length %> challenges currently</p>
                <p>You have a total of <%= totalTask %> tasks</p>
                <p>You have completed <%= completedTask %> tasks</p>
                
            <% } else { %>
                <p>Add your First Challenge Today</p>
            <% } %>    
            <h2>Add a New Challenge</h2>
            <form action="/challenges/addchallenge" method="POST" role="form">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="challenge-start-date">Start Date</label>
                    <input type="date" id="challenge-start-date" name="startDate">
                </div>
                <div>
                    <label for="challenge-deadline">Deadline</label>
                    <input type="date" id="challenge-deadline" name="deadline">
                </div> 
                <button type="submit" class ="submit-button">Submit</button>   
            </form>

        </section>
        <aside class="col-6" role="complementary">
            <h3>Your CHALLENGES:</h3>
            <% if ( hasChallenge) { %>
                <% for( let i = 0;  i < data.length; i++){ %>
                    <div class="card">
                        <a href="/challenges/task/<%=data[i]._id %>"><%= data[i].name %></a>
                        <p>
                        Challenge Progress:
                        <progress value="<%= progressBar[i][0]%>" max="<%= progressBar[i][1]%>"></progress>
                         </p>
                    </div>
                <% } %>
            <% } %>
        </aside>
    </main>
    <%include ./partials/scripts %>
</body>

</html>