<!DOCTYPE html>
<html lang="en">

<head>
    <%include ./partials/head %>
</head>

<body>
    <header role="banner">
        <%include ./partials/header %>
    </header>
    <main class="row display-window" role="content">
        <section class="col-6" role="content">
            <h2>The Challenge is to
                <%= challenge.name %>
            </h2>

            <h2>Add a New Task</h2>
            <form action="/challenges/addtask/<%= challenge._id %>" method="POST">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="task-start-date">Start Date</label>
                    <input type="date" id="task-start-date" name="startDate">
                </div>
                <div>
                    <label for="task-deadline">Deadline</label>
                    <input type="date" id="task-deadline" name="deadline">
                </div>
                <input type="hidden" name="" id="">
                <button type="submit" class="submit-button">Submit</button>
            </form>

            <div class="row">
                <% if ( challenge.tasks.length >= 1) { %>
                <% for( let i = 0; i < challenge.tasks.length; i++) { %>
                <div class="card col-12">
                    <div>
                        <button class="delete-task delete-button" tabindex="0" data-id="<%= challenge.tasks[i]._id %>"><i
                                class="fas fa-trash-alt"> Delete</i></button>
                    </div>
                    <div class="card-info">
                        <h3>
                            <%= challenge.tasks[i].name %>
                        </h3>
                        <p> Task will start on:
                            <%= challenge.tasks[i].start.toDateString() %>
                        </p>
                        <p> Task is due on:
                            <%= challenge.tasks[i].deadline.toDateString() %>
                        </p>
                        <input type="checkbox" <%=(challenge.tasks[i].completed) ? "checked" : "" %> class="completed"
                        data-id="
                        <%= challenge.tasks[i]._id %>"
                        data-completed="
                        <%= !(challenge.tasks[i].completed) %>">Completed


                    </div>


                </div>

                <% } %>
                <% } else { %>
                <p>Add Your First Task</p>
                <% } %>
        </section>

        <aside class="col-6" role="complementary">
            <h3>Your CHALLENGES:</h3>
            <% for( let i = 0;  i < allChallenges.length; i++){ %>
            <div class="card">
                <a href="/challenges/task/<%=allChallenges[i]._id %>">
                    <%= allChallenges[i].name %></a>
                <button class="delete" data-id="<%=allChallenges[i]._id %>">Delete</button>
            </div>
            <% } %>
        </aside>
    </main>
    <%include ./partials/scripts %>
</body>

</html>